@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #a0967d;
    --textcolor: #f9efd5;
    --buttoncolor: #afa793;
    --linkhover: #afa793;
    --buttonhover: #c3bdae;
    --invalidinput: #995252;
    --standardFontSize: 16px;
    --logoSize: 145px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--textcolor);
    font-size: var(--standardFontSize);
}

main.slider {
    width: 100vw;
    height: calc(100vh - 3em - var(--standardFontSize));
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.slider div {
    display: inline-block;
    width: 100vw;
    height: calc(100vh - 3em - var(--standardFontSize));
    scroll-snap-align: start;
    white-space: normal;
}

#logo {
    width: var(--logoSize);
    height: var(--logoSize);
    display: none;
}

.icon {
    width: var(--standardFontSize);
    height: var(--standardFontSize);
}

menu.nav_links {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

menu.nav_links li a {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    background-color: red;
    border-radius: 25%;
    fill: var(--textcolor);
    background-color: var(--buttoncolor);
}

menu.nav_links li a span {
    display: none;
}

/* 

a {
    color: var(--textcolor);
    text-decoration: none;
}

ul.nav_links {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 8px;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

ul.nav_links li a {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

ul.nav_links li a svg {
    transition: transform 0.3s ease, fill 0.3s ease;
}

ul.nav_links li a:hover,
ul.nav_links li a:focus {
    color: var(--linkhover);
}

ul.nav_links li a:hover svg {
    transform: rotate(45deg);
    fill: var(--linkhover);
}

#profile_picture {
    width: 100%;
    height: auto;
}*/