@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*I defined some color variables here to make it easier to change the color scheme of the website. */
:root {
    --background: #a0967d;
    --textcolor: #f9efd5;
    --buttoncolor: #afa793;
    --linkhover: #afa793;
    --buttonhover: #c3bdae;
    --invalidinput: #995252;
    --standardMargin: 30px;
    --standardFontSize: 16px;
    --logoSize: 145px;
}

body {
    width: 100vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--standardFontSize);
    line-height: 1.2;
    list-style: none;
}

h1 {
    font-size: calc(2 * var(--standardFontSize));
    line-height: 1.5;
    margin-bottom: calc(1.5 * var(--standardFontSize));
}

strong,
th,
h1 {
    font-weight: 700;
}

header {
    display: flex;
    align-items: center;
    margin: var(--standardMargin);
}

#logo,
header {
    height: var(--logoSize);
}

nav {
    flex-basis: calc(50vw - var(--standardMargin));
}

ul.nav_links,
ul.nav_links li,
ul.nav_links li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

header,
ul.nav_links {
    justify-content: space-between;
}

ul.nav_links li a {
    transition: color 0.3s ease;
}

ul.nav_links li a:hover,
ul.nav_links li a:focus {
    color: var(--linkhover);
}

ul.nav_links li a svg {
    transition: transform 0.3s ease, fill 0.3s ease, margin-right 0.3s ease;
}

ul.nav_links li a:hover svg {
    transform: rotate(45deg);
    fill: var(--linkhover);
    margin-right: 12px;
}

button,
ul.nav_links li:last-of-type a {
    padding: 9px 25px;
    background-color: var(--buttoncolor);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button *,
.icon,
ul.nav_links li:last-of-type a * {
    fill: var(--textcolor);
    background-color: inherit;
}

button:hover,
button:focus,
ul.nav_links li:last-of-type a:hover,
ul.nav_links li:last-of-type a:focus {
    background-color: var(--buttonhover);
}

main,
footer {
    display: flex;
    flex-direction: row;
    margin: var(--standardMargin);
}

main {
    min-height: calc(100vh - 1.5 * var(--standardFontSize) - 4 * var(--standardMargin) - var(--logoSize));
}

div.left_content,
div.right_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50vw;
    margin-left: calc(var(--standardMargin) / 2);
    flex-direction: column;
}

.left_content img {
    width: 100%;
    max-width: calc(100vh - 1.5 * var(--standardFontSize) - 4 * var(--standardMargin) - var(--logoSize));
    max-height: calc(100vh - 1.5 * var(--standardFontSize) - 4 * var(--standardMargin) - var(--logoSize));
    object-fit: contain;
    border-radius: 50%;
}

div.right_content {
    align-items: flex-start;
}

footer {
    justify-content: center;
    align-items: center;
    height: calc(1.5 * var(--standardFontSize));
}

.icon {
    width: calc(1.5 * var(--standardFontSize));
    height: calc(1.5 * var(--standardFontSize));
    margin-left: calc(1.5 * var(--standardFontSize) / 4);
    margin-right: calc(1.5 * var(--standardFontSize) / 4);
}

address {
    font-style: normal;
}

div.contact_phone,
div.contact_email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: calc(1.5 * var(--standardFontSize) / 4);
}

#message_form {
    display: flex;
    flex-direction: column;
}

input.message,
textarea.message {
    max-width: 25vw;
    font-size: var(--standardFontSize);
    border: 1px solid var(--textcolor);
    border-radius: 9px;
    padding: 9px;
}

#invalid_email_label,
input.message:invalid:not(:placeholder-shown) {
    color: var(--invalidinput);
    border-color: var(--invalidinput);
}

#message_form {
    width: 25vw;
}

#email_label,
#message_button_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

button.message {
    max-width: 25vw;
    background-color: var(--background);
    border: 1px solid var(--textcolor);
}

button.message:hover {
    border-color: var(--background);
    background-color: var(--buttonhover);
}

#email_label span,
#message_button_container button,
#message_button_container p {
    grid-row: 1;
    grid-column: 1;
}

#message_button_container button {
    z-index: 1;
}

#message_button_container p {
    z-index: 0;
}

#valid_email_label,
#message_button_container p,
#message_form:focus-within:valid #message_button_container button,
#message_form:focus-within:invalid #message_button_container p {
    opacity: 1;
}

#invalid_email_label,
#message_button_container button,
#message_form:focus-within:invalid #message_button_container button,
#message_form:focus-within:valid #message_button_container p {
    opacity: 0;
}

#message_form:focus-within:invalid #message_button_container button,
#message_form:focus-within:valid #message_button_container button {
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#message_form:focus-within:invalid #message_button_container p,
#message_form:focus-within:valid #message_button_container p {
    transition: opacity 0.3s ease;
}

#small_career_table,
#career_table {
    text-align: left;
}

#career_table tbody::after {
    content: '';
    display: block;
}

address,
input.message,
textarea.message,
div.contact_email,
#career_table tbody::after {
    margin-bottom: 1.5em;
}

#small_career_table {
    display: none;
}

#grid_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--standardMargin);
}

#grid_content div.grid_image_container,
#grid_content div.grid_text_container {
    display: flex;
}

#grid_content div.grid_text_container {
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

#grid_content div.grid_image_container {
    flex-direction: row;
    justify-content: flex-start;
}

#grid_content div.grid_text_container:nth-child(2n-1) {
    align-items: flex-end;
}

#grid_content div.grid_image_container:nth-child(2n) {
    justify-content: flex-end;
}

#grid_content div.grid_image_container img {
    width: calc(50vh - 2.5 * var(--standardMargin) - 0.75 * var(--standardFontSize) - var(--logoSize) / 2);
    height: calc(50vh - 2.5 * var(--standardMargin) - 0.75 * var(--standardFontSize) - var(--logoSize) / 2);
    min-width: 100px;
    min-height: 100px;
    border-radius: 50px;
}

@media screen and (max-width: 1015px) {
    nav {
        margin-left: var(--standardMargin);
        flex-basis: calc(100vw - 3 * var(--standardMargin) - var(--logoSize));
    }
}

@media screen and (max-width: 685px) {
    nav {
        margin-left: var(--standardMargin);
    }

    ul.nav_links {
        flex-direction: column;
        align-items: flex-end;
    }

    ul.nav_links li:nth-child(-n + 3) {
        margin-right: 25px;
    }

    ul.nav_links li a {
        line-height: 2.25em;
    }
}

@media screen and (max-width: 400px) {
    #logo {
        display: none;
    }

    nav {
        flex-basis: calc(100vw - 2 * var(--standardMargin));
    }

    ul.nav_links {
        align-items: center;
    }
}

@media screen and (max-width: 780px) {
    main {
        flex-direction: column;
    }

    div.left_content {
        margin-right: 0;
        align-items: center;
        flex-basis: 100%;
    }

    div.right_content {
        margin-left: 0;
        align-items: center;
        flex-basis: 100%;
    }

    input.message,
    textarea.message {
        max-width: 100%;
    }

    #message_form {
        margin: var(--standardMargin);
        width: 66vw;
    }

    button.message {
        max-width: 100vw;
    }

    #grid_content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #grid_content div.grid_image_container {
        display: none;
    }
}

@media screen and (max-width: 335px) {
    #career_table {
        display: none;
    }

    #small_career_table {
        display: table;
    }

    #small_career_table tbody tr:nth-child(3n) td {
        padding-bottom: 1.5em;
    }
}

@media screen and (max-width: 1200px) {
    #grid_content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    #grid_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}