@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*I defined some color variables here to make it easier to change the color scheme of the website. */
:root {
    --background: #a0967d;
    --textcolor: #f9efd5;
    --buttoncolor: #afa793;
    --linkhover: #afa793;
    --buttonhover: #c3bdae;
    --invalidinput: #995252;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    list-style: none;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 24px;
    /* 1.5-times the font-size of p */
}

p {
    margin-bottom: 1.5em;
}

strong,
th {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
    margin: 30px;
}

#logo {
    cursor: pointer;
    width: 145px;
    height: 145px;
}

nav {
    flex-basis: calc(50vw - 30px);
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.nav_links li a {
    transition: color 0.3s ease;
}

.nav_links li a:hover,
.nav_links li a:focus {
    color: var(--linkhover);
}

button {
    padding: 9px 25px;
    background-color: var(--buttoncolor);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover,
button:focus {
    background-color: var(--buttonhover);
}

main {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

div.left_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50vw;
}

.left_content img {
    width: calc(100vh - 289px);
    height: calc(100vh - 289px);
    object-fit: contain;
    border-radius: 50%;
}

div.right_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50vw;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    height: 24px;
    }

.icon {
    width: 24px;
    height: 24px;
}

address {
    font-style: normal;
    margin-bottom: 1.5em;
}

div.contact_phone,
div.contact_email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: 6px;
}

div.contact_email {
    margin-bottom: 1.5em;
}

#message_form {
    display: flex;
    flex-direction: column;
}

input.message,
textarea.message {
    max-width: 25vw;
    font-size: 16px;
    border: 1px solid var(--textcolor);
    border-radius: 9px;
    padding: 9px;
    margin-bottom: 1.5em;
}

input.message:invalid:not(:placeholder-shown) {
    color: var(--invalidinput);
    border-color: var(--invalidinput);
}

#message_form {
    width: 25vw;
}

#email_label {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#email_label span {
    grid-column: 1;
    grid-row: 1;
}

#valid_email_label {
    opacity: 1;
}

#invalid_email_label {
    color: var(--invalidinput);
    opacity: 0;
}

button.message {
    max-width: 25vw;
    background-color: var(--background);
    border: 1px solid var(--textcolor);
}

button.message:hover {
    border-color: var(--background);
    background-color: var(--buttonhover);
}

#message_button_container {
    display: grid;
}

#message_button_container button {
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    z-index: 1;
}

#message_button_container p {
    grid-row: 1;
    grid-column: 1;
    opacity: 1;
    z-index: 0;
}

#message_form:focus-within:valid #message_button_container button {
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

#message_form:focus-within:invalid #message_button_container button {
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

#message_form:focus-within:valid #message_button_container p {
    transition: opacity 0.3s ease;
    opacity: 0;
}

#message_form:focus-within:invalid #message_button_container p {
    transition: opacity 0.3s ease;
    opacity: 1;
}

table.career {
    text-align: left;
}

table.career tbody::after {
    content: '';
    display: block;
    margin-bottom: 1.5em;
}

#grid_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

#grid_content div.grid_image_container, #grid_content div.grid_text_container {
    width: calc(25vw - 75px);
    height: calc(50vh - 159px);
    display: flex;
}

#grid_content div.grid_text_container {
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    min-height: 115px;
    min-width: 200px;
}

#grid_content div.grid_image_container {
    flex-direction: row;
    justify-content: flex-start;
}

#grid_content div.grid_text_container:nth-child(2n-1) {
    align-items: flex-end;
}

#grid_content div.grid_image_container:nth-child(2n-1) {
    justify-content: flex-end;
}

#grid_content div.grid_image_container img {
    width: calc(50vh - 159px);
    height: calc(50vh - 159px);
    min-width: 100px;
    min-height: 100px;
    border-radius: 50px;
}