@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F4F2F3;
    --textcolor: #64766A;
    --invalidinput: #995252;
    --standardFontSize: 16px;
    --logoSize: 145px;
    --windowHeight: 100svh;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--textcolor);
    font-size: var(--standardFontSize);
}

main.slider {
    width: 100svw;
    height: calc(var(--windowHeight) - 8em - 2px); /* 5em for the header and 2px for the headers border */
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.slider > div {
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    width: 100svw;
    min-height: calc(var(--windowHeight) - 8em - 2px); /* 5em for the header and 2px for the headers border */
    scroll-snap-align: start;
    white-space: normal;
    vertical-align: top; /* This is needed to align the divs to the top of the slider and it took me half an hour of my lifetime to find this property...*/
}

#projects_container {
    display: flex;
    flex-flow: row wrap;
    min-height: calc(var(--windowHeight) - 8em - 2px);
    overflow-y: scroll;
    margin: 0 1em;
    gap: 1em;
}

#projects_container > img {
    max-width: 100px;
    aspect-ratio: 1/1;
}

/*I don't like the logo, so I will not display it untill I have one that I like.*/
#logo {
    width: var(--logoSize);
    height: var(--logoSize);
    display: none;
}

.icon {
    width: var(--standardFontSize);
    height: var(--standardFontSize);
    fill: var(--textcolor);
    background-size: var(--standardFontSize);
}

menu.nav_links {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
    margin: 1em;
    padding: 0;
    border: 1px solid var(--textcolor);
    border-radius: 1em;
}

menu.nav_links li {
    cursor: pointer;
}

menu.nav_links li a {
    display: flex;
    justify-content: center;
    padding: 1em;
}

menu.nav_links li a span {
    display: none;
}

#home img {
    width: calc(100% - 2em);
    max-width: calc(var(--windowHeight) / 2 - 4em - 1px);
    margin: 0 1em;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

#home p {
    margin: 1em;
    font-weight: 300;
}

#about table, #contact table {
    margin: 1em;
    text-align: center;
    vertical-align: middle;
}

#contact {
    justify-content: center;
}

#contact table {
    text-align: left;
}

#about table a, #contact table a {
    color: var(--textcolor);
    text-decoration: none;
}

#about table tbody tr:nth-child(3n) td {
    padding-bottom: 1em;
}

#contact form {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
}

footer {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 0;
    max-height: 1em;
    overflow: hidden;
}

footer a { /*somehow a tags get a line-height of 20px when they aren't flex elements. This results in cropped icons.*/
    display: flex;
}

/* 

a {
    color: var(--textcolor);
    text-decoration: none;
}

ul.nav_links {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 8px;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

ul.nav_links li a {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

ul.nav_links li a svg {
    transition: transform 0.3s ease, fill 0.3s ease;
}

ul.nav_links li a:hover,
ul.nav_links li a:focus {
    color: var(--linkhover);
}

ul.nav_links li a:hover svg {
    transform: rotate(45deg);
    fill: var(--linkhover);
}

#profile_picture {
    width: 100%;
    height: auto;
}*/