@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F4F2F3;
    --textcolor: #64766A;
    --invalidinput: #995252;
    --standardFontSize: 16px;
    --logoSize: 145px;
    --windowHeight: 100svh;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--textcolor);
    font-size: var(--standardFontSize);
}

header, main, footer {
    margin: 1em;
}

h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

main.slider, main.slider > div, #projects_container {
    height: calc(var(--windowHeight) - 8em - 2px); /* 5em for the header and 2px for the headers border */
}

main.slider {
    width: calc(100svw - 2em);
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.slider > div {
    margin: 0 1em;
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100svw - 2em);
    scroll-snap-align: start;
    white-space: normal;
    vertical-align: top; /* This is needed to align the divs to the top of the slider and it took me half an hour of my lifetime to find this property...*/
}

/*I don't like the logo, so I will not display it untill I have one that I like.*/
#logo {
    width: var(--logoSize);
    height: var(--logoSize);
    display: none;
}

.icon {
    width: var(--standardFontSize);
    height: var(--standardFontSize);
    fill: var(--textcolor);
    background-size: var(--standardFontSize);
}

menu.nav_links {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
    padding: 0;
    border: 1px solid var(--textcolor);
    border-radius: 1em;
}

menu.nav_links li {
    cursor: pointer;
}

menu.nav_links li a {
    display: flex;
    justify-content: center;
    padding: 1em;
}

menu.nav_links li a span {
    display: none;
}

#home > p {
    display: inline-block;
    vertical-align: top;
    text-align: start;
}

#home img {
    display: block;
    max-width: 45%;
    aspect-ratio: 1/1;
    border-radius: 1em;
}

#home p {
    font-weight: 300;
}

#about table, #contact table {
    text-align: center;
    vertical-align: middle;
}

#contact table {
    text-align: left;
}

#about table a, #contact table a {
    color: var(--textcolor);
    text-decoration: none;
}

#about table tbody tr:nth-child(3n) td {
    padding-bottom: 1em;
}

#projects_container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

#projects_container > div > img {
    border-radius: 1em;
    max-width: calc(50% - 1em);
    aspect-ratio: 1/1;
}

#projects_container > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

#contact form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#email_label {
    display: grid;
    text-align: center;
}

#valid_email_label, #invalid_email_label {
    grid-column: 1;
    grid-row: 1;
    transition: opacity 0.5s ease;
}

#valid_email_label {
    opacity: 1;
    color: var(--textcolor);
    z-index: 1;
}

#invalid_email_label {
    opacity: 0;
    color: var(--invalidinput);
    z-index: 0;
}

#contact input[type="email"], #contact textarea {
    box-sizing: border-box;
    border: 1px solid var(--textcolor);
    border-radius: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
    width: 250px;
}

#contact textarea:disabled {
    background-color: var(--background);
    resize: none;
}

#contact textarea:enabled {
    background-color: white;
    resize: both;
}

#message_button_container {
    width: 250px;
    display: grid;
}

#message_button_container > button, #message_button_container > span {
    grid-column: 1;
    grid-row: 1;
}

#message_button_container > span {
    opacity: 1;
    text-align: center;
    z-index: 1;
    transition: opacity 0.5s ease;
}

#message_button_container > button {
    opacity: 0;
    height: 3em;
    z-index: 0;
    border: 1px solid var(--background);
    border-radius: 1em;
    padding: 0.5em;
    color: var(--background);
    background-color: var(--textcolor);
    cursor: pointer;
    transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}

#message_button_container > button:hover {
    border: 1px solid var(--textcolor);
    background-color: var(--background);
    color: var(--textcolor);
}

footer {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-height: 1em;
    overflow: hidden;
}

footer a { /*somehow a tags get a line-height of 20px when they aren't flex elements. This results in cropped icons.*/
    display: flex;
}

/* 

a {
    color: var(--textcolor);
    text-decoration: none;
}

ul.nav_links {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 8px;
    list-style-type: none;
    margin: 1em 0;
    padding: 0;
}

ul.nav_links li a {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 8px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

ul.nav_links li a svg {
    transition: transform 0.3s ease, fill 0.3s ease;
}

ul.nav_links li a:hover,
ul.nav_links li a:focus {
    color: var(--linkhover);
}

ul.nav_links li a:hover svg {
    transform: rotate(45deg);
    fill: var(--linkhover);
}

#profile_picture {
    width: 100%;
    height: auto;
}*/