@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes moveBoat {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*I defined some color variables here to make it easier to change the color scheme of the website. */
:root {
    --background: #a0967d;
    --textcolor: #f9efd5;
    --buttoncolor: #afa793;
    --linkhover: #afa793;
    --buttonhover: #c3bdae;
    --invalidinput: #995252;
    --standardMargin: 30px;
    --standardFontSize: 16px;
    --logoSize: 145px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: var(--standardFontSize);
    line-height: 1.2;
    list-style: none;
}

h1 {
    font-size: calc(2 * var(--standardFontSize));
    line-height: 1.5;
    margin-bottom: calc(1.5 * var(--standardFontSize));
}

strong,
th,
h1 {
    font-weight: 700;
}

header {
    display: flex;
    align-items: center;
    margin: var(--standardMargin);
}

#logo,
header {
    height: var(--logoSize);
}

nav {
    flex-basis: calc(50vw - var(--standardMargin));
}

ul.nav_links,
ul.nav_links li,
ul.nav_links li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

header,
ul.nav_links {
    justify-content: space-between;
}

@media screen and (max-width: 1015px) {
    nav {
        margin-left: var(--standardMargin);
        flex-basis: calc(100vw - 3 * var(--standardMargin) - var(--logoSize));
    }
}

@media screen and (max-width: 685px) {
    nav {
        margin-left: var(--standardMargin);
    }

    ul.nav_links {
        flex-direction: column;
        align-items: flex-end;
    }

    ul.nav_links li:nth-child(-n + 3) {
        margin-right: 25px;
    }

    ul.nav_links li a {
        line-height: 2.25em;
    }
}

@media screen and (max-width: 400px) {
    #logo {
            display: none;
    }

    nav {
        flex-basis: calc(100vw - 2 * var(--standardMargin));
    }
    
    ul.nav_links {
        align-items: center;
    }
}

ul.nav_links li a {
    transition: color 0.3s ease;
}

ul.nav_links li a:hover,
ul.nav_links li a:focus {
    color: var(--linkhover);
}

ul.nav_links li a svg {
    transition: transform 0.3s ease, fill 0.3s ease, margin-right 0.3s ease;
}

ul.nav_links li a:hover svg {
    transform: rotate(45deg);
    fill: var(--linkhover);
    margin-right: 12px;
}

button,
ul.nav_links li:last-of-type a {
    padding: 9px 25px;
    background-color: var(--buttoncolor);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button *,
.icon,
ul.nav_links li:last-of-type a * {
    fill: var(--textcolor);
    background-color: inherit;
}

button:hover,
button:focus,
ul.nav_links li:last-of-type a:hover,
ul.nav_links li:last-of-type a:focus {
    background-color: var(--buttonhover);
}

main,
footer {
    display: flex;
    flex-direction: row;
    margin: var(--standardMargin);
}

main {
    min-height: calc(100vh - 1.5 * var(--standardFontSize) - 4 * var(--standardMargin) - var(--logoSize));
}
@media screen and (max-width: 780px) {
    main {
        flex-direction: column;
    }
}

div.left_content,
div.right_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50vw;
    margin-left: calc(var(--standardMargin) / 2);
    flex-direction: column;
}

@media screen and (max-width: 780px) {
    div.left_content {
        margin-right: 0;
        flex-basis: 100%;
    }
}

.left_content img {
    width: 100%;
    max-width: calc(100vh - 1.5 * var(--standardFontSize) - 4 * var(--standardMargin) - var(--logoSize));
    max-height: calc(100vh - 1.5 * var(--standardFontSize) - 4 * var(--standardMargin) - var(--logoSize));
    object-fit: contain;
    border-radius: 50%;
}

div.right_content {
    align-items: flex-start;
}

@media screen and (max-width: 780px) {
    div.right_content {
        margin-left: 0;
        align-items: center;
        flex-basis: 100%;
    }
}

footer {
    justify-content: center;
    align-items: center;
    height: calc(1.5 * var(--standardFontSize));
}

.icon {
    width: calc(1.5 * var(--standardFontSize));
    height: calc(1.5 * var(--standardFontSize));
    margin-left: calc(1.5 * var(--standardFontSize) / 4);
    margin-right: calc(1.5 * var(--standardFontSize) / 4);
}

address {
    font-style: normal;
}

div.contact_phone,
div.contact_email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    column-gap: calc(1.5 * var(--standardFontSize) / 4);
}

#message_form {
    display: flex;
    flex-direction: column;
}

input.message,
textarea.message {
    max-width: 25vw;
    font-size: var(--standardFontSize);
    border: 1px solid var(--textcolor);
    border-radius: 9px;
    padding: 9px;
}

@media screen and (max-width: 780px) {
    input.message,
    textarea.message {
        max-width: 100%;
    }
}

#invalid_email_label,
input.message:invalid:not(:placeholder-shown) {
    color: var(--invalidinput);
    border-color: var(--invalidinput);
}

#message_form {
    width: 25vw;
}

@media screen and (max-width: 780px) {
    #message_form {
        margin: var(--standardMargin);
        width: 66vw;
    }
}

#email_label,
#message_button_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

button.message {
    max-width: 25vw;
    background-color: var(--background);
    border: 1px solid var(--textcolor);
}

@media screen and (max-width: 780px) {
    button.message {
        max-width: 100vw;
    }
}

button.message:hover {
    border-color: var(--background);
    background-color: var(--buttonhover);
}

#email_label span,
#message_button_container button,
#message_button_container p {
    grid-row: 1;
    grid-column: 1;
}

#message_button_container button {
    z-index: 1;
}

#message_button_container p {
    z-index: 0;
}

#valid_email_label,
#message_button_container p,
#message_form:focus-within:valid #message_button_container button,
#message_form:focus-within:invalid #message_button_container p {
    opacity: 1;
}

#invalid_email_label,
#message_button_container button,
#message_form:focus-within:invalid #message_button_container button,
#message_form:focus-within:valid #message_button_container p {
    opacity: 0;
}

#message_form:focus-within:invalid #message_button_container button,
#message_form:focus-within:valid #message_button_container button {
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

#message_form:focus-within:invalid #message_button_container p,
#message_form:focus-within:valid #message_button_container p {
    transition: opacity 0.3s ease;
}

#small_career_table,
#career_table {
    text-align: left;
}

#career_table tbody::after {
    content: '';
    display: block;
}

address,
input.message,
textarea.message,
div.contact_email,
#career_table tbody::after {
    margin-bottom: 1.5em;
}

#small_career_table {
    display: none;
}

@media screen and (max-width: 335px) {
    #career_table {
        display: none;
    }

    #small_career_table {
        display: table;
    }
    #small_career_table tbody tr:nth-child(3n) td {
        padding-bottom: 1.5em;
    }
}

#grid_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--standardMargin);
}

@media screen and (max-width: 1200px) {
    #grid_content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    #grid_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

#grid_content div.grid_image_container,
#grid_content div.grid_text_container {
    display: flex;
}

@media screen and (max-width: 780px) {
    #grid_content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #grid_content div.grid_image_container {
        display: none;
    }
    
}

#grid_content div.grid_text_container {
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

#grid_content div.grid_image_container {
    flex-direction: row;
    justify-content: flex-start;
}

#grid_content div.grid_text_container:nth-child(2n-1) {
    align-items: flex-end;
}

#grid_content div.grid_image_container:nth-child(2n) {
    justify-content: flex-end;
}

@media screen and (max-width: 760px) {
    #grid_content div.grid_image_container {
        align-items: center;
        justify-content: flex-end;
    }

    #grid_content div.grid_image_container:nth-child(2n) {
        justify-content: flex-start;
    }
}

#grid_content div.grid_image_container img {
    width: calc(50vh - 2.5 * var(--standardMargin) - 0.75 * var(--standardFontSize) - var(--logoSize) / 2);
    height: calc(50vh - 2.5 * var(--standardMargin) - 0.75 * var(--standardFontSize) - var(--logoSize) / 2);
    min-width: 100px;
    min-height: 100px;
    border-radius: 50px;
}

#boat_overlay svg {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 100px;
    offset-path: path('M 20 413.79126120144053 L 21 414.3798839787433 L 22 414.96836920190697 L 23 415.55671033221296 L 24 416.14490083254356 L 25 416.7329341674549 L 26 417.3208038032493 L 27 417.90850320804793 L 28 418.4960258518635 L 29 419.0833652066726 L 30 419.6705147464886 L 31 420.25746794743355 L 32 420.84421828781143 L 33 421.4307592481799 L 34 422.0170843114234 L 35 422.60318696282485 L 36 423.1890606901387 L 37 423.7746989836629 L 38 424.3600953363113 L 39 424.945243243686 L 40 425.5301362041496 L 41 426.11476771889744 L 42 426.69913129202985 L 43 427.2832204306242 L 44 427.8670286448073 L 45 428.4505494478271 L 46 429.0337763561251 L 47 429.61670288940843 L 48 430.19932257072156 L 49 430.7816289265184 L 50 431.3636154867345 L 51 431.94527578485827 L 52 432.5266033580037 L 53 433.1075917469814 L 54 433.68823449637085 L 55 434.26852515459194 L 56 434.8484572739766 L 57 435.4280244108406 L 58 436.0072201255551 L 59 436.586037982618 L 60 437.1644715507258 L 61 437.7425144028449 L 62 438.32016011628275 L 63 438.8974022727596 L 64 439.47423445847977 L 65 440.05065026420255 L 66 440.6266432853139 L 67 441.2022071218972 L 68 441.7773353788047 L 69 442.35202166572833 L 70 442.9262595972708 L 71 443.50004279301663 L 72 444.07336487760284 L 73 444.64621948078985 L 74 445.21860023753254 L 75 445.79050078805057 L 76 446.36191477789924 L 77 446.9328358580401 L 78 447.50325768491143 L 79 448.0731739204989 L 80 448.6425782324057 L 81 449.2114642939231 L 82 449.77982578410075 L 83 450.34765638781676 L 84 450.91494979584814 L 85 451.4816997049405 L 86 452.04789981787866 L 87 452.6135438435559 L 88 453.1786254970445 L 89 453.7431384996652 L 90 454.3070765790571 L 91 454.8704334692474 L 92 455.43320291072087 L 93 455.9953786504895 L 94 456.55695444216195 L 95 457.117924046013 L 96 457.67828122905286 L 97 458.2380197650963 L 98 458.797133434832 L 99 459.3556160258917 L 100 459.9134613329189 L 101 460.47066315763834 L 102 461.02721530892416 L 103 461.5831116028694 L 104 462.13834586285424 L 105 462.69291191961486 L 106 463.246803611312 L 107 463.800014783599 L 108 464.3525392896909 L 109 464.9043709904322 L 110 465.4555037543652 L 111 466.0059314577983 L 112 466.5556479848736 L 113 467.1046472276355 L 114 467.6529230860979 L 115 468.2004694683127 L 116 468.7472802904366 L 117 469.29334947679956 L 118 469.83867095997175 L 119 470.38323868083125 L 120 470.92704658863113 L 121 471.4700886410669 L 122 472.01235880434365 L 123 472.55385105324285 L 124 473.0945593711895 L 125 473.6344777503191 L 126 474.1736001915439 L 127 474.7119207046203 L 128 475.24943330821463 L 129 475.7861320299703 L 130 476.3220109065736 L 131 476.8570639838204 L 132 477.39128531668194 L 133 477.9246689693711 L 134 478.45720901540847 L 135 478.98889953768776 L 136 479.51973462854204 L 137 480.0497083898091 L 138 480.578814932897 L 139 481.10704837884964 L 140 481.63440285841193 L 141 482.16087251209507 L 142 482.68645149024167 L 143 483.2111339530907 L 144 483.7349140708425 L 145 484.2577860237232 L 146 484.77974400204994 L 147 485.30078220629497 L 148 485.82089484715027 L 149 486.34007614559187 L 150 486.85832033294395 L 151 487.3756216509431 L 152 487.89197435180233 L 153 488.4073726982746 L 154 488.921810963717 L 155 489.43528343215405 L 156 489.9477843983414 L 157 490.45930816782914 L 158 490.96984905702504 L 159 491.4794013932579 L 160 491.9879595148403 L 161 492.49551777113163 L 162 493.002070522601 L 163 493.5076121408897 L 164 494.0121370088738 L 165 494.51563952072667 L 166 495.01811408198114 L 167 495.51955510959164 L 168 496.01995703199634 L 169 496.51931428917914 L 170 497.01762133273115 L 171 497.5148726259125 L 172 498.0110626437141 L 173 498.50618587291854 L 174 499.00023681216163 L 175 499.4932099719937 L 176 499.98509987494015 L 177 500.47590105556276 L 178 500.9656080605201 L 179 501.45421544862825 L 180 501.94171779092125 L 181 502.4281096707115 L 182 502.9133856836497 L 183 503.3975404377852 L 184 503.88056855362566 L 185 504.362464664197 L 186 504.843223415103 L 187 505.32283946458466 L 188 505.8013074835797 L 189 506.2786221557817 L 190 506.7547781776993 L 191 507.2297702587148 L 192 507.7035931211434 L 193 508.17624150029144 L 194 508.6477101445152 L 195 509.11799381527896 L 196 509.58708728721354 L 197 510.054985348174 L 198 510.52168279929776 L 199 510.9871744550625 L 200 511.4514551433434 L 201 511.9145197054711 L 202 512.3763629962883 L 203 512.8369798842078 L 204 513.296365251269 L 205 513.7545139931945 L 206 514.2114210194476 L 207 514.6670812532883 L 208 515.1214896318298 L 209 515.5746411060946 L 210 516.0265306410713 L 211 516.4771532157695 L 212 516.9265038232763 L 213 517.374577470812 L 214 517.8213691797849 L 215 518.2668739858475 L 216 518.7110869389508 L 217 519.1540031033999 L 218 519.5956175579088 L 219 520.0359253956545 L 220 520.4749217243325 L 221 520.9126016662102 L 222 521.3489603581817 L 223 521.7839929518215 L 224 522.2176946134385 L 225 522.6500605241301 L 226 523.081085879835 L 227 523.5107658913867 L 228 523.9390957845676 L 229 524.366070800161 L 230 524.7916861940043 L 231 525.2159372370421 L 232 525.6388192153784 L 233 526.0603274303286 L 234 526.4804571984727 L 235 526.8992038517063 L 236 527.3165627372931 L 237 527.7325292179166 L 238 528.1470986717312 L 239 528.5602664924139 L 240 528.9720280892155 L 241 529.3823788870113 L 242 529.7913143263521 L 243 530.1988298635152 L 244 530.6049209705543 L 245 531.0095831353501 L 246 531.4128118616605 L 247 531.8146026691707 L 248 532.2149510935421 L 249 532.6138526864634 L 250 533.0113030156986 L 251 533.407297665137 L 252 533.8018322348421 L 253 534.1949023411006 L 254 534.586503616471 L 255 534.9766317098318 L 256 535.3652822864307 L 257 535.7524510279317 L 258 536.138133632464 L 259 536.5223258146693 L 260 536.9050233057496 L 261 537.2862218535145 L 262 537.6659172224282 L 263 538.0441051936575 L 264 538.4207815651175 L 265 538.7959421515193 L 266 539.1695827844156 L 267 539.5416993122478 L 268 539.9122876003916 L 269 540.281343531203 L 270 540.6488630040645 L 271 541.0148419354302 L 272 541.3792762588713 L 273 541.7421619251212 L 274 542.1034949021207 L 275 542.4632711750628 L 276 542.8214867464368 L 277 543.1781376360735 L 278 543.533219881189 L 279 543.8867295364286 L 280 544.2386626739108 L 281 544.5890153832711 L 282 544.9377837717052 L 283 545.2849639640125 L 284 545.6305521026386 L 285 545.9745443477192 L 286 546.3169368771214 L 287 546.6577258864877 L 288 546.9969075892767 L 289 547.3344782168065 L 290 547.6704340182957 L 291 548.0047712609057 L 292 548.3374862297815 L 293 548.6685752280936 L 294 548.9980345770788 L 295 549.325860616081 L 296 549.6520497025921 L 297 549.9765982122922 L 298 550.29950253909 L 299 550.6207590951632 L 300 550.9403643109977 L 301 551.2583146354277 L 302 551.574606535675 L 303 551.8892364973887 L 304 552.2022010246833 L 305 552.5134966401785 L 306 552.8231198850373 L 307 553.1310673190045 L 308 553.4373355204453 L 309 553.7419210863828 L 310 554.044820632536 L 311 554.3460307933575 L 312 554.6455482220709 L 313 554.9433695907078 L 314 555.239491590145 L 315 555.533910930141 L 316 555.8266243393729 L 317 556.1176285654726 L 318 556.4069203750626 L 319 556.6944965537925 L 320 556.9803539063745 L 321 557.2644892566186 L 322 557.5468994474684 L 323 557.8275813410357 L 324 558.1065318186357 L 325 558.3837477808215 L 326 558.6592261474186 L 327 558.9329638575592 L 328 559.2049578697159 L 329 559.4752051617359 L 330 559.743702730874 L 331 560.010447593827 L 332 560.2754367867657 L 333 560.5386673653684 L 334 560.8001364048537 L 335 561.0598410000127 L 336 561.3177782652414 L 337 561.5739453345728 L 338 561.828339361709 L 339 562.0809575200522 L 340 562.3317970027365 L 341 562.5808550226591 L 342 562.8281288125113 L 343 563.0736156248091 L 344 563.3173127319238 L 345 563.5592174261122 L 346 563.7993270195469 L 347 564.037638844346 L 348 564.2741502526028 L 349 564.5088586164151 L 350 564.7417613279147 L 351 564.972855799296 L 352 565.2021394628451 L 353 565.4296097709682 L 354 565.6552641962196 L 355 565.8791002313303 L 356 566.1011153892356 L 357 566.3213072031025 L 358 566.5396732263578 L 359 566.7562110327144 L 360 566.970918216199 L 361 567.1837923911785 L 362 567.3948311923864 L 363 567.6040322749493 L 364 567.811393314413 L 365 568.0169120067677 L 366 568.220586068475 L 367 568.4224132364915 L 368 568.6223912682954 L 369 568.8205179419105 L 370 569.0167910559313 L 371 569.2112084295477 L 372 569.4037679025685 L 373 569.5944673354458 L 374 569.7833046092992 L 375 569.9702776259387 L 376 570.1553843078883 L 377 570.3386225984088 L 378 570.5199904615213 L 379 570.699485882029 L 380 570.8771068655403 L 381 571.0528514384905 L 382 571.226717648164 L 383 571.3987035627157 L 384 571.5688072711928 L 385 571.7370268835559 L 386 571.9033605307 L 387 572.0678063644749 L 388 572.2303625577065 L 389 572.3910273042167 L 390 572.5497988188431 L 391 572.7066753374595 L 392 572.8616551169952 L 393 573.0147364354539 L 394 573.165917591934 L 395 573.3151969066462 L 396 573.4625727209329 L 397 573.6080433972869 L 398 573.7516073193686 L 399 573.893262892025 L 400 574.0330085413063 L 401 574.170842714485 L 402 574.3067638800716 L 403 574.440770527832 L 404 574.5728611688053 L 405 574.7030343353186 L 406 574.8312885810051 L 407 574.9576224808188 L 408 575.082034631051 L 409 575.2045236493457 L 410 575.3250881747151 L 411 575.4437268675547 L 412 575.560438409658 L 413 575.6752215042311 L 414 575.7880748759077 L 415 575.8989972707625 L 416 576.0079874563255 L 417 576.115044221596 L 418 576.2201663770552 L 419 576.3233527546804 L 420 576.4246022079574 L 421 576.5239136118932 L 422 576.6212858630289 L 423 576.7167178794515 L 424 576.8102086008063 L 425 576.9017569883083 L 426 576.9913620247544 L 427 577.0790227145338 L 428 577.1647380836399 L 429 577.2485071796805 L 430 577.3303290718886 L 431 577.4102028511332 L 432 577.4881276299285 L 433 577.5641025424445 L 434 577.6381267445161 L 435 577.7101994136532 L 436 577.7803197490489 L 437 577.8484869715892 L 438 577.9147003238611 L 439 577.9789590701615 L 440 578.0412624965049 L 441 578.1016099106319 L 442 578.1600006420158 L 443 578.2164340418717 L 444 578.2709094831623 L 445 578.3234263606055 L 446 578.3739840906808 L 447 578.4225821116364 L 448 578.4692198834946 L 449 578.5138968880586 L 450 578.5566126289176 L 451 578.5973666314527 L 452 578.6361584428421 L 453 578.672987632066 L 454 578.7078537899116 L 455 578.7407565289776 L 456 578.7716954836782 L 457 578.8006703102476 L 458 578.8276806867436 L 459 578.8527263130512 L 460 578.875806910886 L 461 578.896922223797 L 462 578.9160720171698 L 463 578.9332560782293 L 464 578.9484742160414 L 465 578.9617262615162 L 466 578.9730120674086 L 467 578.982331508321 L 468 578.989684480704 L 469 578.9950709028582 L 470 578.9984907149344 L 471 578.9999438789347 L 472 578.999430378713 L 473 578.9969502199746 L 474 578.992503430277 L 475 578.9860900590288 L 476 578.9777101774898 L 477 578.9673638787694 L 478 578.9550512778268 L 479 578.9407725114681 L 480 578.9245277383463 L 481 578.9063171389589 L 482 578.8861409156455 L 483 578.8639992925862 L 484 578.8398925157986 L 485 578.8138208531359 L 486 578.7857845942827 L 487 578.7557840507529 L 488 578.7238195558854 L 489 578.6898914648409 L 490 578.6540001545981 L 491 578.6161460239487 L 492 578.5763294934937 L 493 578.534551005639 L 494 578.4908110245891 L 495 578.4451100363436 L 496 578.3974485486908 L 497 578.3478270912022 L 498 578.296246215227 L 499 578.2427064938853 L 500 578.1872085220624 L 501 578.1297529164019 L 502 578.0703403152988 L 503 578.0089713788925 L 504 577.9456467890594 L 505 577.8803672494055 L 506 577.8131334852584 L 507 577.7439462436589 L 508 577.6728062933539 L 509 577.5997144247862 L 510 577.524671450087 L 511 577.4476782030663 L 512 577.3687355392041 L 513 577.28784433564 L 514 577.2050054911645 L 515 577.1202199262082 L 516 577.0334885828322 L 517 576.9448124247172 L 518 576.8541924371527 L 519 576.7616296270269 L 520 576.6671250228142 L 521 576.5706796745649 L 522 576.472294653893 L 523 576.3719710539643 L 524 576.2697099894847 L 525 576.1655125966868 L 526 576.0593800333187 L 527 575.9513134786298 L 528 575.8413141333585 L 529 575.7293832197187 L 530 575.6155219813859 L 531 575.499731683484 L 532 575.3820136125706 L 533 575.2623690766231 L 534 575.1407994050239 L 535 575.017305948546 L 536 574.8918900793375 L 537 574.7645531909068 L 538 574.6352966981069 L 539 574.5041220371199 L 540 574.3710306654406 L 541 574.2360240618605 L 542 574.0991037264516 L 543 573.9602711805499 L 544 573.8195279667373 L 545 573.6768756488262 L 546 573.5323158118408 L 547 573.3858500619999 L 548 573.2374800266995 L 549 573.0872073544937 L 550 572.9350337150775 L 551 572.7809607992674 L 552 572.6249903189834 L 553 572.4671240072289 L 554 572.3073636180725 L 555 572.1457109266281 L 556 571.9821677290349 L 557 571.8167358424381 L 558 571.6494171049678 L 559 571.4802133757195 L 560 571.3091265347329 L 561 571.136158482971 L 562 570.9613111422996 L 563 570.7845864554647 L 564 570.6059863860723 L 565 570.425512918566 L 566 570.2431680582043 L 567 570.0589538310396 L 568 569.8728722838946 L 569 569.6849254843403 L 570 569.4951155206724 L 571 569.3034445018885 L 572 569.1099145576648 L 573 568.9145278383319 L 574 568.7172865148513 L 575 568.5181927787913 L 576 568.3172488423025 L 577 568.1144569380932 L 578 567.9098193194047 L 579 567.7033382599861 L 580 567.4950160540695 L 581 567.2848550163438 L 582 567.0728574819295 L 583 566.8590258063525 L 584 566.6433623655182 L 585 566.4258695556848 L 586 566.2065497934369 L 587 565.9854055156584 L 588 565.7624391795058 L 589 565.5376532623803 L 590 565.3110502619012 L 591 565.082632695877 L 592 564.8524031022785 L 593 564.6203640392098 L 594 564.3865180848803 L 595 564.1508678375762 L 596 563.9134159156309 L 597 563.6741649573969 L 598 563.4331176212154 L 599 563.190276585388 L 600 562.9456445481457 L 601 562.6992242276198 L 602 562.4510183618113 L 603 562.2010297085606 L 604 561.9492610455169 L 605 561.6957151701071 L 606 561.440394899505 L 607 561.1833030706 L 608 560.9244425399652 L 609 560.6638161838262 L 610 560.4014268980284 L 611 560.137277598006 L 612 559.8713712187482 L 613 559.6037107147678 L 614 559.3342990600675 L 615 559.0631392481075 L 616 558.7902342917716 L 617 558.5155872233345 L 618 558.2392010944275 L 619 557.9610789760044 L 620 557.6812239583085 L 621 557.3996391508368 L 622 557.1163276823067 L 623 556.8312927006205 L 624 556.5445373728304 L 625 556.256064885104 L 626 555.9658784426881 L 627 555.6739812698735 L 628 555.3803766099591 L 629 555.0850677252158 L 630 554.7880578968507 L 631 554.4893504249696 L 632 554.1889486285415 L 633 553.8868558453612 L 634 553.5830754320118 L 635 553.2776107638282 L 636 552.9704652348591 L 637 552.6616422578295 L 638 552.3511452641026 L 639 552.0389777036419 L 640 551.7251430449724 L 641 551.4096447751429 L 642 551.0924863996863 L 643 550.7736714425814 L 644 550.4532034462133 L 645 550.1310859713341 L 646 549.8073225970237 L 647 549.4819169206496 L 648 549.1548725578269 L 649 548.8261931423787 L 650 548.495882326295 L 651 548.1639437796927 L 652 547.8303811907742 L 653 547.4951982657873 L 654 547.1583987289832 L 655 546.8199863225756 L 656 546.4799648066987 L 657 546.1383379593659 L 658 545.7951095764275 L 659 545.4502834715289 L 660 545.1038634760674 L 661 544.7558534391508 L 662 544.4062572275535 L 663 544.0550787256743 L 664 543.702321835493 L 665 543.3479904765268 L 666 542.9920885857873 L 667 542.6346201177364 L 668 542.275589044242 L 669 541.9149993545349 L 670 541.5528550551631 L 671 541.1891601699488 L 672 540.8239187399423 L 673 540.457134823378 L 674 540.0888124956292 L 675 539.7189558491621 L 676 539.3475689934912 L 677 538.9746560551336 L 678 538.6002211775623 L 679 538.2242685211611 L 680 537.8468022631777 L 681 537.4678265976779 L 682 537.0873457354985 L 683 536.7053639042007 L 684 536.3218853480232 L 685 535.9369143278349 L 686 535.5504551210875 L 687 535.1625120217682 L 688 534.773089340352 L 689 534.3821914037537 L 690 533.9898225552795 L 691 533.5959871545792 L 692 533.2006895775978 L 693 532.8039342165264 L 694 532.4057254797538 L 695 532.0060677918175 L 696 531.6049655933546 L 697 531.2024233410515 L 698 530.7984455075962 L 699 530.393036581627 L 700 529.9862010676834 L 701 529.5779434861558 L 702 529.1682683732354 L 703 528.7571802808634 L 704 528.3446837766814 L 705 527.9307834439794 L 706 527.5154838816459 L 707 527.0987897041163 L 708 526.6807055413212 L 709 526.2612360386362 L 710 525.8403858568292 L 711 525.418159672009 L 712 524.9945621755733 L 713 524.5695980741566 L 714 524.1432720895777 L 715 523.715588958788 L 716 523.2865534338174 L 717 522.8561702817233 L 718 522.424444284536 L 719 521.9913802392067 L 720 521.5569829575537 L 721 521.121257266209 L 722 520.6842080065645 L 723 520.2458400347189 L 724 519.8061582214227 L 725 519.3651674520249 L 726 518.9228726264186 L 727 518.4792786589858 L 728 518.0343904785441 L 729 517.5882130282909 L 730 517.1407512657488 L 731 516.6920101627104 L 732 516.2419947051836 L 733 515.7907098933354 L 734 515.3381607414368 L 735 514.8843522778071 L 736 514.429289544758 L 737 513.9729775985372 L 738 513.515421509273 L 739 513.0566263609169 L 740 512.5965972511883 L 741 512.135339291517 L 742 511.67285760698655 L 743 511.20915733627777 L 744 510.74424363161097 L 745 510.27812165868926 L 746 509.8107965966409 L 747 509.3422736379617 L 748 508.87255798845763 L 749 508.40165486718644 L 750 507.9295695064003 L 751 507.45630715148724 L 752 506.98187306091296 L 753 506.5062725061626 L 754 506.0295107716817 L 755 505.5515931548181 L 756 505.0725249657625 L 757 504.5923115274899 L 758 504.1109581757003 L 759 503.62847025875936 L 760 503.1448531376388 L 761 502.66011218585726 L 762 502.1742527894204 L 763 501.6872803467609 L 764 501.19920026867874 L 765 500.7100179782808 L 766 500.21973891092085 L 767 499.72836851413905 L 768 499.2359122476014 L 769 498.7423755830392 L 770 498.24776400418796 L 771 497.752083006727 L 772 497.25533809821763 L 773 496.75753479804274 L 774 496.25867863734493 L 775 495.75877515896536 L 776 495.257829917382 L 777 494.75584847864786 L 778 494.25283642032934 L 779 493.74879933144416 L 780 493.24374281239915 L 781 492.73767247492833 L 782 492.2305939420302 L 783 491.7225128479055 L 784 491.21343483789434 L 785 490.703365568414 L 786 490.19231070689546 L 787 489.6802759317208 L 788 489.16726693216015 L 789 488.6532894083081 L 790 488.1383490710208 L 791 487.6224516418522 L 792 487.1056028529907 L 793 486.58780844719536 L 794 486.069074177732 L 795 485.54940580830925 L 796 485.02880911301486 L 797 484.5072898762512 L 798 483.9848538926711 L 799 483.46150696711345 L 800 482.9372549145387 L 801 482.41210355996424 L 802 481.8860587383997 L 803 481.3591262947822 L 804 480.8313120839112 L 805 480.3026219703837 L 806 479.7730618285287 L 807 479.2426375423423 L 808 478.7113550054225 L 809 478.17922012090287 L 810 477.6462388013879 L 811 477.11241696888675 L 812 476.57776055474756 L 813 476.04227549959165 L 814 475.5059677532475 L 815 474.96884327468456 L 816 474.43090803194707 L 817 473.8921680020878 L 818 473.3526291711014 L 819 472.81229753385827 L 820 472.27117909403773 L 821 471.7292798640613 L 822 471.186605865026 L 823 470.64316312663743 L 824 470.0989576871425 L 825 469.5539955932627 L 826 469.0082829001269 L 827 468.46182567120377 L 828 467.91462997823487 L 829 467.36670190116644 L 830 466.81804752808273 L 831 466.2686729551378 L 832 465.7185842864879 L 833 465.16778763422366 L 834 464.61628911830235 L 835 464.06409486647937 L 836 463.51121101424087 L 837 462.957643704735 L 838 462.4033990887041 L 839 461.8484833244157 L 840 461.2929025775952 L 841 460.7366630213559 L 842 460.17977083613187 L 843 459.6222322096081 L 844 459.0640533366527 L 845 458.50524041924723 L 846 457.9457996664185 L 847 457.385737294169 L 848 456.8250595254083 L 849 456.26377258988356 L 850 455.70188272411053 L 851 455.1393961713042 L 852 454.5763191813093 L 853 454.0126580105311 L 854 453.44841892186565 L 855 452.88360818463036 L 856 452.3182320744943 L 857 451.75229687340845 L 858 451.1858088695359 L 859 450.61877435718185 L 860 450.051199636724 L 861 449.48309101454237 L 862 448.9144548029491 L 863 448.34529732011845 L 864 447.7756248900166 L 865 447.20544384233136 L 866 446.63476051240184 L 867 446.06358124114803 L 868 445.4919123750004 L 869 444.9197602658295 L 870 444.3471312708749 L 871 443.77403175267517 L 872 443.20046807899683 L 873 442.62644662276375 L 874 442.0519737619862 L 875 441.47705587969 L 876 440.9016993638457 L 877 440.3259106072976 L 878 439.74969600769253 L 879 439.1730619674091 L 880 438.5960148934864 L 881 438.01856119755234 L 882 437.4407072957534 L 883 436.8624596086824 L 884 436.2838245613077 L 885 435.70480858290176 L 886 435.1254181069695 L 887 434.5456595711768 L 888 433.9655394172792 L 889 433.3850640910503 L 890 432.80424004221 L 891 432.22307372435273 L 892 431.6415715948762 L 893 431.0597401149091 L 894 430.47758574923967 L 895 429.8951149662438 L 896 429.31233423781305 L 897 428.7292500392829 L 898 428.1458688493606 L 899 427.56219715005346 L 900 426.97824142659647 L 901 426.39400816738066 L 902 425.8095038638806 L 903 425.2247350105826 L 904 424.63970810491224 L 905 424.0544296471626 L 906 423.4689061404215 L 907 422.8831440904997 L 908 422.2971500058584 L 909 421.710930397537 L 910 421.1244917790807 L 911 420.53784066646796 L 912 419.9509835780385 L 913 419.3639270344207 L 914 418.7766775584589 L 915 418.1892416751414 L 916 417.60162591152726 L 917 417.01383679667464 L 918 416.42588086156763 L 919 415.83776463904394 L 920 415.2494946637221 L 921 414.66107747192933 L 922 414.07251960162813 L 923 413.4838275923445 L 924 412.89500798509465 L 925 412.3060673223126 L 926 411.7170121477775 L 927 411.12784900654066 L 928 410.5385844448532 L 929 409.9492250100931 L 930 409.35977725069245 L 931 408.7702477160647 L 932 408.1806429565321 L 933 407.59096952325234 L 934 407.00123396814655 L 935 406.41144284382585 L 936 405.821602703519 L 937 405.23172010099915 L 938 404.64180159051153 L 939 404.0518537267 L 940 403.46188306453485 L 941 402.87189615923955 L 942 402.28189956621816 L 943 401.6918998409823 L 944 401.10190353907836 L 945 400.5119172160147 L 946 399.9219474271889 L 947 399.3320007278147 L 948 398.7420836728495 L 949 398.15220281692103 L 950 397.56236471425507 L 951 396.9725759186021 L 952 396.38284298316506 L 953 395.7931724605259 L 954 395.20357090257335 L 955 394.6140448604298 L 956 394.0246008843784 L 957 393.4352455237907 L 958 392.8459853270535 L 959 392.25682684149626 L 960 391.6677766133183 L 961 391.0788411875162 L 962 390.49002710781076 L 963 389.90134091657455 L 964 389.31278915475923 L 965 388.7243783618228 L 966 388.13611507565685 L 967 387.54800583251415 L 968 386.9600571669357 L 969 386.37227561167845 L 970 385.7846676976425 L 971 385.19723995379866 L 972 384.60999890711577 L 973 384.0229510824884 L 974 383.436103002664 L 975 382.84946118817084 L 976 382.26303215724516 L 977 381.67682242575916 L 978 381.0908385071483 L 979 380.50508691233887 L 980 379.9195741496759 L 981 379.3343067248508 L 982 378.74929114082886 L 983 378.1645338977773 L 984 377.58004149299285 L 985 376.9958204208294 L 986 376.4118771726262 L 987 375.8282182366356 L 988 375.2448500979509 L 989 374.66177923843435 L 990 374.0790121366451 L 991 373.4965552677669 L 992 372.914415103537 L 993 372.33259811217334 L 994 371.75111075830324 L 995 371.1699595028913 L 996 370.58915080316774 L 997 370.0086911125565 L 998 369.42858688060375 L 999 368.84884455290614 L 1000 368.2694705710391 L 1001 367.69047137248543 L 1002 367.11185339056345 L 1003 366.533623054356 L 1004 365.95578678863853 L 1005 365.37835101380824 L 1006 364.8013221458121 L 1007 364.2247065960762 L 1008 363.6485107714338 L 1009 363.072741074055 L 1010 362.4974039013748 L 1011 361.92250564602267 L 1012 361.34805269575105 L 1013 360.77405143336466 L 1014 360.2005082366492 L 1015 359.62742947830117 L 1016 359.05482152585625 L 1017 358.48269074161925 L 1018 357.91104348259296 L 1019 357.3398861004078 L 1020 356.76922494125085 L 1021 356.1990663457959 L 1022 355.6294166491326 L 1023 355.0602821806961 L 1024 354.4916692641969 L 1025 353.9235842175505 L 1026 353.35603335280706 L 1027 352.7890229760814 L 1028 352.2225593874831 L 1029 351.6566488810461 L 1030 351.0912977446593 L 1031 350.5265122599959 L 1032 349.9622987024445 L 1033 349.39866334103885 L 1034 348.83561243838824 L 1035 348.273152250608 L 1036 347.7112890272501 L 1037 347.1500290112333 L 1038 346.58937843877425 L 1039 346.0293435393181 L 1040 345.46993053546896 L 1041 344.9111456429212 L 1042 344.3529950703902 L 1043 343.795485019543 L 1044 343.2386216849301 L 1045 342.68241125391614 L 1046 342.12685990661134 L 1047 341.5719738158027 L 1048 341.0177591468856 L 1049 340.464222057795 L 1050 339.9113686989373 L 1051 339.359205213122 L 1052 338.8077377354931 L 1053 338.25697239346164 L 1054 337.7069153066366 L 1055 337.15757258675774 L 1056 336.60895033762756 L 1057 336.06105465504305 L 1058 335.5138916267285 L 1059 334.9674673322674 L 1060 334.4217878430352 L 1061 333.87685922213166 L 1062 333.33268752431377 L 1063 332.78927879592794 L 1064 332.24663907484353 L 1065 331.7047743903851 L 1066 331.1636907632658 L 1067 330.6233942055203 L 1068 330.0838907204382 L 1069 329.54518630249714 L 1070 329.00728693729616 L 1071 328.47019860148947 L 1072 327.9339272627195 L 1073 327.39847887955136 L 1074 326.8638594014059 L 1075 326.33007476849406 L 1076 325.79713091175086 L 1077 325.26503375276894 L 1078 324.73378920373375 L 1079 324.2034031673569 L 1080 323.6738815368111 L 1081 323.1452301956647 L 1082 322.617455017816 L 1083 322.0905618674281 L 1084 321.56455659886404 L 1085 321.03944505662133 L 1086 320.5152330752673 L 1087 319.9919264793741 L 1088 319.46953108345417 L 1089 318.9480526918953 L 1090 318.42749709889654 L 1091 317.90787008840346 L 1092 317.3891774340443 L 1093 316.8714248990654 L 1094 316.35461823626747 L 1095 315.8387631879412 L 1096 315.3238654858042 L 1097 314.8099308509368 L 1098 314.29696499371846 L 1099 313.7849736137645 L 1100 313.27396239986297 L 1101 312.7639370299108 L 1102 312.25490317085126 L 1103 311.74686647861097 L 1104 311.23983259803686 L 1105 310.73380716283356 L 1106 310.22879579550056 L 1107 309.7248041072701 L 1108 309.2218376980446 L 1109 308.7199021563347 L 1110 308.21900305919667 L 1111 307.719145972171 L 1112 307.2203364492201 L 1113 306.7225800326669 L 1114 306.2258822531331 L 1115 305.7302486294778 L 1116 305.23568466873616 L 1117 304.74219586605835 L 1118 304.24978770464804 L 1119 303.75846565570197 L 1120 303.2682351783491 L 1121 302.7791017195895 L 1122 302.2910707142345 L 1123 301.8041475848458 L 1124 301.3183377416753 L 1125 300.8336465826052 L 1126 300.3500794930877 L 1127 299.86764184608575 L 1128 299.3863390020125 L 1129 298.90617630867246 L 1130 298.4271591012016 L 1131 297.94929270200856 L 1132 297.47258242071496 L 1133 296.9970335540969 L 1134 296.5226513860258 L 1135 296.0494411874096 L 1136 295.57740821613464 L 1137 295.10655771700687 L 1138 294.6368949216936 L 1139 294.16842504866554 L 1140 293.70115330313877 L 1141 293.23508487701656 L 1142 292.77022494883226 L 1143 292.3065786836915 L 1144 291.8441512332146 L 1145 291.38294773547955 L 1146 290.9229733149651 L 1147 290.46423308249314 L 1148 290.0067321351728 L 1149 289.5504755563432 L 1150 289.0954684155172 L 1151 288.64171576832507 L 1152 288.1892226564581 L 1153 287.737994107613 L 1154 287.2880351354356 L 1155 286.8393507394654 L 1156 286.39194590508 L 1157 285.9458256034396 L 1158 285.5009947914318 L 1159 285.0574584116167 L 1160 284.6152213921717 L 1161 284.1742886468369 L 1162 283.73466507486046 L 1163 283.29635556094433 L 1164 282.8593649751896 L 1165 282.4236981730427 L 1166 281.98935999524144 L 1167 281.55635526776115 L 1168 281.12468880176095 L 1169 280.6943653935306 L 1170 280.2653898244366 L 1171 279.83776686087003 L 1172 279.41150125419256 L 1173 278.9865977406845 L 1174 278.56306104149144 L 1175 278.1408958625725 L 1176 277.7201068946474 L 1177 277.30069881314495 L 1178 276.8826762781505 L 1179 276.4660439343547 L 1180 276.0508064110014 L 1181 275.63696832183666 L 1182 275.22453426505723 L 1183 274.81350882325944 L 1184 274.40389656338846 L 1185 273.99570203668736 L 1186 273.58892977864673 L 1187 273.1835843089542 L 1188 272.779670131444 L 1189 272.3771917340473 L 1190 271.9761535887423 L 1191 271.57656015150417 L 1192 271.1784158622559 L 1193 270.7817251448188 L 1194 270.3864924068634 L 1195 269.99272203986055 L 1196 269.6004184190325 L 1197 269.20958590330434 L 1198 268.8202288352556 L 1199 268.43235154107174 L 1200 268.04595833049666 L 1201 267.6610534967843 L 1202 267.2776413166509 L 1203 266.895726050228 L 1204 266.5153119410145 L 1205 266.1364032158301 L 1206 265.75900408476775 L 1207 265.3831187411472 L 1208 265.0087513614685 L 1209 264.63590610536517 L 1210 264.2645871155587 L 1211 263.89479851781164 L 1212 263.5265444208825 L 1213 263.15982891647957 L 1214 262.79465607921577 L 1215 262.4310299665635 L 1216 262.0689546188089 L 1217 261.7084340590079 L 1218 261.34947229294073 L 1219 260.9920733090677 L 1220 260.636241078485 L 1221 260.2819795548803 L 1222 259.92929267448926 L 1223 259.5781843560513 L 1224 259.2286585007664 L 1225 258.88071899225156 L 1226 258.53436969649766 L 1227 258.18961446182675 L 1228 257.84645711884895 L 1229 257.50490148042013 L 1230 257.16495134159936 L 1231 256.82661047960687 L 1232 256.4898826537823 L 1233 256.15477160554224 L 1234 255.8212810583395 L 1235 255.48941471762112 L 1236 255.15917627078736 L 1237 254.8305693871511 L 1238 254.50359771789633 L 1239 254.17826489603846 L 1240 253.85457453638307 L 1241 253.53253023548658 L 1242 253.21213557161556 L 1243 252.8933941047074 L 1244 252.57630937633078 L 1245 252.26088490964597 L 1246 251.94712420936617 L 1247 251.63503076171804 L 1248 251.32460803440333 L 1249 251.01585947656034 L 1250 250.70878851872533 L 1251 250.4033985727948 L 1252 250.09969303198716 L 1253 249.79767527080523 L 1254 249.49734864499894 L 1255 249.19871649152753 L 1256 248.9017821285232 L 1257 248.60654885525338 L 1258 248.3130199520849 L 1259 248.02119868044687 L 1260 247.7310882827949 L 1261 247.44269198257493 L 1262 247.1560129841872 L 1263 246.87105447295116 L 1264 246.58781961506944 L 1265 246.30631155759298 L 1266 246.02653342838641 L 1267 245.7484883360926 L 1268 245.47217937009867 L 1269 245.19760960050132 L 1270 244.92478207807306 L 1271 244.65369983422795 L 1272 244.38436588098804 L 1273 244.1167832109502 L 1274 243.85095479725226 L 1275 243.58688359354073 L 1276 243.32457253393727 L 1277 243.06402453300646 L 1278 242.80524248572354 L 1279 242.54822926744183 L 1280 242.29298773386117 L 1281 242.03952072099597 L 1282 241.78783104514363 L 1283 241.53792150285375 L 1284 241.28979487089623 L 1285 241.04345390623126 L 1286 240.79890134597804 L 1287 240.5561399073848 L 1288 240.31517228779828 L 1289 240.076001164634 L 1290 239.83862919534647 L 1291 239.60305901739952 L 1292 239.36929324823726 L 1293 239.1373344852546 L 1294 238.90718530576876 L 1295 238.67884826699057 L 1296 238.45232590599574 L 1297 238.22762073969722 L 1298 238.0047352648166 L 1299 237.78367195785702 L 1300 237.56443327507515 L 1301 237.34702165245395 L 1302 237.13143950567607 L 1303 236.91768923009633 L 1304 236.7057732007157 L 1305 236.4956937721545 L 1306 236.28745327862643 L 1307 236.08105403391266 L 1308 235.8764983313359 L 1309 235.67378844373533 L 1310 235.47292662344088 L 1311 235.27391510224842 L 1312 235.07675609139514 L 1313 234.88145178153462 L 1314 234.6880043427128 L 1315 234.49641592434355 L 1316 234.30668865518527 L 1317 234.11882464331666 L 1318 233.93282597611372 L 1319 233.74869472022644 L 1320 233.56643292155564 L 1321 233.38604260523073 L 1322 233.2075257755866 L 1323 233.0308844161417 L 1324 232.85612048957609 L 1325 232.68323593770924 L 1326 232.51223268147902 L 1327 232.3431126209197 L 1328 232.17587763514135 L 1329 232.01052958230883 L 1330 231.84707029962092 L 1331 231.6855016032903 L 1332 231.52582528852295 L 1333 231.36804312949857 L 1334 231.21215687935066 L 1335 231.05816827014692 L 1336 230.90607901287046 L 1337 230.75589079740027 L 1338 230.60760529249282 L 1339 230.46122414576328 L 1340 230.31674898366728 L 1341 230.17418141148298 L 1342 230.03352301329298 L 1343 229.894775351967 L 1344 229.75793996914422 L 1345 229.62301838521645 L 1346 229.490012099311 L 1347 229.35892258927404 L 1348 229.22975131165444 L 1349 229.10249970168718 L 1350 228.97716917327784 L 1351 228.85376111898648 L 1352 228.73227691001244 L 1353 228.61271789617908 L 1354 228.49508540591856 L 1355 228.37938074625743 L 1356 228.2656052028018 L 1357 228.15376003972312 L 1358 228.0438464997444 L 1359 227.935865804126 L 1360 227.82981915265236 L 1361 227.72570772361843 L 1362 227.62353267381687 L 1363 227.52329513852496 L 1364 227.424996231492 L 1365 227.32863704492715 L 1366 227.23421864948693 L 1367 227.14174209426375 L 1368 227.0512084067739 L 1369 226.9626185929463 L 1370 226.87597363711134 L 1371 226.79127450198982 L 1372 226.7085221286824 L 1373 226.627717436659 L 1374 226.54886132374875 L 1375 226.47195466612985 L 1376 226.39699831831993 L 1377 226.32399311316652 L 1378 226.25293986183783 L 1379 226.18383935381368 L 1380 226.1166923568768 L 1381 226.0514996171042 L 1382 225.98826185885906 L 1383 225.92697978478242 L 1384 225.86765407578565 L 1385 225.8102853910426 L 1386 225.75487436798258 L 1387 225.70142162228302 L 1388 225.64992774786276 L 1389 225.60039331687545 L 1390 225.55281887970315 L 1391 225.50720496495023 L 1392 225.4635520794375 L 1393 225.42186070819653 L 1394 225.38213131446437 L 1395 225.34436433967835 L 1396 225.3085602034711 L 1397 225.27471930366602 L 1398 225.2428420162727 L 1399 225.21292869548296 L 1400 225.1849796736667 L 1401 225.1589952613683 L 1402 225.1349757473032 L 1403 225.11292139835464 L 1404 225.09283245957073 L 1405 225.07470915416167 L 1406 225.05855168349737 L 1407 225.04436022710507 L 1408 225.03213494266748 L 1409 225.021875966021 L 1410 225.01358341115414 L 1411 225.0072573702063 L 1412 225.00289791346677 L 1413 225.00050508937392 L 1414 225.00007892451464 L 1415 225.0016194236241 L 1416 225.00512656958566 L 1417 225.01060032343108 L 1418 225.01804062434093 L 1419 225.02744738964523 L 1420 225.0388205148245 L 1421 225.05215987351082 L 1422 225.06746531748917 L 1423 225.0847366766993 L 1424 225.10397375923733 L 1425 225.1251763513581 L 1426 225.1483442174775 L 1427 225.17347710017503 L 1428 225.2005747201967 L 1429 225.22963677645808 L 1430 225.26066294604777 L 1431 225.2936528842309 L 1432 225.32860622445287 L 1433 225.36552257834364 L 1434 225.4044015357219 L 1435 225.44524266459956 L 1436 225.48804551118678 L 1437 225.53280959989678 L 1438 225.57953443335128 L 1439 225.62821949238597 L 1440 225.6788642360562 L 1441 225.73146810164315 L 1442 225.78603050465992 L 1443 225.84255083885822 L 1444 225.90102847623487 L 1445 225.96146276703894 L 1446 226.02385303977897 L 1447 226.0881986012303 L 1448 226.15449873644297 L 1449 226.22275270874943 L 1450 226.29295975977297 L 1451 226.3651191094359 L 1452 226.43922995596847 L 1453 226.5152914759176 L 1454 226.59330282415598 L 1455 226.67326313389174 L 1456 226.75517151667782 L 1457 226.83902706242188 L 1458 226.92482883939655 L 1459 227.01257589424958 L 1460 227.10226725201457 L 1461 227.1939019161219 L 1462 227.2874788684095 L 1463 227.38299706913443 L 1464 227.48045545698434 L 1465 227.57985294908931 L 1466 227.6811884410337 L 1467 227.78446080686865 L 1468 227.88966889912456 L 1469 227.99681154882364 L 1470 228.10588756549316 L 1471 228.21689573717845 L 1472 228.32983483045655 L 1473 228.4447035904498 L 1474 228.56150074083982 L 1475 228.68022498388174 L 1476 228.80087500041847 L 1477 228.92344944989554 L 1478 229.0479469703759 L 1479 229.174366178555 L 1480 229.30270566977632 L 1481 229.43296401804676 L 1482 229.5651397760528 L 1483 229.69923147517613 L 1484 229.83523762551044 L 1485 229.9731567158777 L 1486 230.11298721384497 L 1487 230.25472756574146 L 1488 230.39837619667585 L 1489 230.54393151055368 L 1490 230.6913918900953 L 1491 230.84075569685342 L 1492 230.99202127123183 L 1493 231.14518693250338 L 1494 231.3002509788291 L 1495 231.4572116872766 L 1496 231.61606731383972 L 1497 231.77681609345757 L 1498 231.93945624003416 L 1499 232.10398594645858 L 1500 232.2704033846245 L 1501 232.43870670545107 L 1502 232.60889403890317 L 1503 232.7809634940121 L 1504 232.95491315889686 L 1505 233.13074110078512 L 1506 233.30844536603493 L 1507 233.4880239801563 L 1508 233.66947494783307 L 1509 233.85279625294532 L 1510 234.03798585859153 L 1511 234.2250417071113 L 1512 234.41396172010823 L 1513 234.604743798473 L 1514 234.7973858224068 L 1515 234.99188565144453 L 1516 235.18824112447913 L 1517 235.38645005978498 L 1518 235.58651025504273 L 1519 235.7884194873634 L 1520 235.99217551331304 L 1521 236.19777606893803 L 1522 236.40521886978973 L 1523 236.6145016109504 L 1524 236.82562196705834 L 1525 237.03857759233392 L 1526 237.25336612060588 L 1527 237.46998516533705 L 1528 237.68843231965153 L 1529 237.90870515636084 L 1530 238.13080122799136 L 1531 238.35471806681127 L 1532 238.5804531848579 L 1533 238.80800407396572 L 1534 239.0373682057937 L 1535 239.26854303185397 L 1536 239.50152598353972 L 1537 239.73631447215382 L 1538 239.97290588893782 L 1539 240.21129760510047');
    animation: moveBoat 30s infinite;
}