@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #F4F2F3;
    --textcolor: #64766A;
    --invalidinput: #995252;
    --standardFontSize: 16px;
    --logoSize: 145px;
    --windowHeight: 100svh;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--textcolor);
    font-size: var(--standardFontSize);
}

header, main, footer {
    margin: 1em;
}

h1 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}

main.slider, main.slider > div, #projects_container {
    width: calc(100svw - 2em);
    height: calc(var(--windowHeight) - 8em - 2px); /* 5em for the header and 2px for the headers border */
}

main.slider {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.slider > div {
    margin: 0 1em;
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;
    white-space: normal;
    vertical-align: top; /* This is needed to align the divs to the top of the slider and it took me half an hour of my lifetime to find this property...*/
}

.icon {
    width: var(--standardFontSize);
    height: var(--standardFontSize);
    fill: var(--textcolor);
    background-size: var(--standardFontSize);
}

menu.nav_links {
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
    padding: 0;
}

menu.nav_links li {
    cursor: pointer;
}

menu.nav_links li a {
    padding: 1em;
}

#home > p {
    display: inline-block;
    vertical-align: top;
    text-align: start;
}

#home img,
#projects_container>div>img {
    max-width: 45%;
    aspect-ratio: 1/1;
}

#home p {
    font-weight: 300;
}

#about table, #contact table {
    text-align: center;
    vertical-align: middle;
}

#contact table {
    text-align: left;
}

#about table a, #contact table a {
    text-decoration: none;
}

#about table tbody tr:nth-child(3n) td {
    padding-bottom: 1em;
}

#projects_container {
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
}

#projects_container > div {
    justify-content: center;
    column-gap: 1em;
}

#contact form,
#projects_container>div {
    flex-flow: column nowrap;
    align-items: center;
}

#email_label,
#message_button_container,
#projects_container {
    display: grid;
    text-align: center;
}

#valid_email_label,
#invalid_email_label,
#message_button_container>span {
    transition: opacity 0.5s ease;
}

#valid_email_label,
#message_button_container>span {
    opacity: 1;
    z-index: 1;
}

#invalid_email_label,
#message_button_container>button {
    opacity: 0;
    color: var(--invalidinput);
    z-index: 0;
}

#contact input[type="email"], #contact textarea {
    box-sizing: border-box;
    padding: 0.5em;
    margin-bottom: 1em;
}

#contact textarea:disabled {
    resize: none;
}

#contact textarea:enabled {
    background-color: white;
    resize: both;
}

#contact input[type="email"],
#contact textarea,
#message_button_container {
    width: 250px;
}

#message_button_container>button,
#message_button_container>span,
#valid_email_label,
#invalid_email_label {
    grid-column: 1;
    grid-row: 1;
}

#message_button_container > button {
    height: 3em;
    border: 1px solid var(--background);
    padding: 0.5em;
    color: var(--background);
    background-color: var(--textcolor);
    cursor: pointer;
    transition: border-color 0.5s ease, background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}

footer {
    flex: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-height: 1em;
    overflow: hidden;
}

#message_button_container>button:hover,
#valid_email_label,
#about table a,
#contact table a {
    color: var(--textcolor);
}

body,
#contact textarea:disabled,
#message_button_container>button:hover {
    background-color: var(--background);
}

menu.nav_links,
#contact input[type="email"],
#contact textarea,
#message_button_container>button:hover {
    border: 1px solid var(--textcolor);
}

#message_button_container>button,
#contact input[type="email"],
#contact textarea,
#projects_container>div>img,
#home img,
menu.nav_links {
    border-radius: 1em;
}

footer,
footer a,
#contact form,
#projects_container>div,
menu.nav_links li a,
menu.nav_links {
    display: flex;
}